@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .page-padding {
        @apply p-6 md:p-12 lg:p-16
    }
}

@layer utilities {
    .text-gradient {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .smooth-scroll {
        scroll-behavior: smooth;
    }
}
